<div class="container">
  <div class="row">
		<div class="thanks">
			<strong>ご購入ありがとうございました！</strong>
			<img src="/assets/dango.gif" class="thanks-image">
		</div>
	</div>
</div>

<style>
.thanks{
	margin-top: 300px;
	margin-left: 350px;
	font-size: 30px;
	font-weight: bold;
}

.thanks-image {
	width: 100px;
	height: 100px;
}
</style>