<img src="/assets/PAK57_ichigonocake_TP_V.jpg" alt="ケーキの画像">

<div class="text">
	<p>おすすめ</p>
</div>

<div class="row">
	<div class="col-md-2">
	</div>
	<% @products.each do |product| %>
		<%= link_to product_path(product.id) do %>
			<div class="col-md-2 image">
				<%= attachment_image_tag(product, :product_image, :fill, 150, 150) %><br>
				<%= product.name %>
			</div>
		<% end %>
	<% end %>
</div>

<div class="product_btn">
	<%= link_to("商品一覧へ（ジャンル検索）", products_path, class: "btn btn-primary") %>
<div>

<style>
img{
	max-width: 100%;
}
.text{
	text-align: center;
	margin: 30px 0
}
p{
	font-size: 20px
}
.product_btn{
	text-align: center;
	margin-top: 30px
}
.image{
	text-align: center;
}
</style>