<div class= "row">
    <div class="col-md-10">
        <h3>ショッピングカート</h3>
    </div>
    <div class="col-md-2 delete_cart">
        <%= link_to("カートを空にする", "/cart_items", remote:true, method: :DELETE, class: "btn btn-danger") %>
    </div>
</div>

<div id="cart_items_index">
    <%= render('index', cart_items: @cart_items) %>
</div>

<style>
.delete_cart{ margin-top: 20px; }
.active{ font-family: sans-serif; }
#link{ text-align: center; }
#link .btn-primary{
    padding-top: 18px;
    width: 300px;
    height: 60px;
}
td .delete{ text-align: center; }
td .amount{ text-align: center; }
span{ display:block; margin-top: 7px; }
input[type="number"] {
        width: 40px;
        height: 30px;
}
</style>