<div class="col-xs-3">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ジャンル検索</h3>
        </div>
        <div class="panel-body">
          <ul type="square">
            <% categories.each do |category| %>
              <li><%= link_to("#{category.name}", products_path(category_id: category.id)) %></li>
            <% end %>
          </ul>
        </div>
    </div>
</div>

<style>
    .panel {
        min-height: 200px
    }
</style>